*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}

body{
    height: 100vh;
    background: linear-gradient(#000000 50%, #ffb92a 50% );
}



.main{
   
  width: 90vw;
  padding: 3rem 1.8rem;
  background-color: #201f28;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
    max-width: 37.5rem;
    border-radius: 8px;


    
}

.search-container{
  display: grid;
  grid-template-columns: 9fr 3fr;
  gap: 1.2rem;

    
}





#search{
    padding: 10px;
   outline: none;
   border-radius: 0.3rem;
   font-size: .9rem;
   background-color: transparent;
   border: 1px solid rgb(90, 88, 88);
   color: white;
}
 
#search:focus{
    border-color: #aca0a0;
}

#button{
    font-size: .9rem;
    padding: 10px;
    outline: none;
    border-radius: 0.3rem;
    border: none;
    background-color: #ffb92a;
    cursor: pointer;
  
}


#result{
    color: #ffffff;
}

.info{

position: relative;
display: grid;
grid-template-columns: 4fr 8fr;
align-items: center;
margin-top: 1.2rem;

}

.poster{
    width: 100%;
    
}

h2{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.06rem;
}

.rating{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    margin: 0.6rem 0 0.9rem 0;
}
.rating img{
    width: 1.2rem;
}

.rating h4{
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 500;
}

.details{
    display: flex;
    font-size: 0.95rem;
    gap: 1rem;
    justify-content: center;
    color: #a0a0a0;
    margin: 0.6rem 0;
    font-weight: 300;
}

.genre{
    display: flex;
    justify-content: space-around;
}

.genre div{
    border: 1px solid;
    font-size: 0.7rem;
    padding: 0.4rem 1.6rem;
    border-radius: 0.4rem;
}

h3{
    font-weight: 500;
    margin-top: 1.2rem;
}

p{
    font-size: 0.9rem;
    line-height: 1.8rem;
    text-align: justify;
    color: #a0a0a0;
}


.msg{
    text-align: center;
}


h1{
    margin-top: 20px;
    color: aliceblue;
    font-size: 20px;
}

@media (max-width: 600px) {
    .container{
        font-size: 14px;
    }

    .info{
        grid-template-columns: 1fr ;
    }

    .poster{
        margin: auto;
        width: auto;
        max-height: 10.8rem;
    }
    #search{
        padding: 0px;
    }
}
